<div class="row">
  <div class="col-md-8 col-md-offset-4 col-sm-8 col-sm-offset-4">
    <div class="user-booklist">
      <h3><%= @book_progression.book.title %></h3>
      <label>Author:</label>
      <%= @book_progression.book.author %>
      <br>
      <br>

      <label>Pages:</label>
      <%= @book_progression.book.pages %>
      <br>
      <br>

      <label>Current Page:</label>
      <%= @book_progression.current_page %>
      <br>
      <br>

      <label>Read:</label>
      <%= @book_progression.percent_read %> %
      <br>
      <br>

      <label>Left:</label>
      <%= @book_progression.percent_left %> %
    </div>
  </div>
</div>

<br>


<div class="row">
  <div class="col-md-8 col-md-offset-4 col-sm-8 col-sm-offset-4">
    <form  action="/book_progressions/<%= @book_progression.id %>/delete" method="post">
      <input id="hidden" type="hidden" name="_method" value="delete">
      <a class="btn btn-default" href="/book_progressions/<%= @book_progression.id %>/edit">Edit</a>
      <input class="btn btn-default show-link-actions" type="submit" name="delete" value="Delete">
      <a class="pull-right" href="/book_progressions">Back</a>
    </form>
  </div>
</div>

