<div class="row">
  <div class="col-md-8 col-md-offset-4 col-sm-8 col-sm-offset-4">
    <h3>Update you reading progress!</h3>
    <div>
      <form class="form-group" action="/books/<%= @book.id %>" method="post">
        <input type="hidden" name="_method" id="hidden" value="patch">
        <label class="control-label">Book title: </label>
        <input class= "form-control" type="text" name="title" id="title" value="<%= @book.title %>">
        <br>
        <br>

        <label class="control-label">Author: </label>
        <input class= "form-control" type="text" name="author" id="author" value="<%= @book.author %>">
        <br>
        <br>

        <label class="control-label">Pages:</label>
        <input class= "form-control" type="text" name="pages" id="pages" value="<%= @book.pages %> ">
        <br>
        <br>

        <label class="control-label">Current Page: </label>
        <input class= "form-control" type="text" name="current_page" id="current_page" value="<%= @progress.current_page %>">
        <br>
        <br>

        <input class="btn btn-deafult login-button" type="submit" name="edit" value="Edit">
        <a class="pull-right" href="/books">Back</a>
      </form>
    </div>
  </div>
</div>
